# IDEs and Codeditors configs
.DS_Store
.idea
.vscode

# File types
*.ai
*.log
*.pdf
*.psd
*.sublime*

# Project sources
_assets/
_drafts/
build/
node_modules/
npm-debug.*

# Lock-files
pnpm-lock.yaml
yarn.lock
