# IDEs and Codeditors configs
.DS_Store
.idea
.vscode

# File types
*.ai
*.log
*.pdf
*.psd
*.sublime*

# Project sources
_assets/
_drafts/
node_modules/
build/
docs/
npm-debug.*

# Lock-files
pnpm-lock.yaml
yarn.lock
