{
  "syntax": "scss",
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "declaration-no-important": true,
    "indentation": [
      2,
      {
        "ignore": [
          "inside-parens"
        ]
      }
    ],
    "no-descending-specificity": null,
    "scss/comment-no-empty": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "/modal/",
          "modal"
        ]
      }
    ],
    "annotation-no-unknown": [
      true,
      {
        "ignoreAnnotations": [
          "/=/"
        ]
      }
    ]
  }
}
