@use '../system/mixins' as *;
@use '../system/breakpoints' as *;

.section-skills {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--gap-def-ver) var(--gap-def-hor);

  &__title {
    display: block;
    margin-block: var(--gap-section-ver);
    margin-inline: auto;
  }
}
