@use '../system/mixins' as *;
@use '../system/breakpoints' as *;

.section-ext-info {
  $fs-w1024: clamp(2.4rem, 4.685vw, 4.8rem);

  $t-props: transform;
  @include trans-config($t-props, 0.5s);

  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  z-index: 1;
  width: 100%;
  padding: var(--gap-def-ver) var(--gap-def-hor);
  transition-delay: 0.15s;

  &.is-active {
    transform: translateY(0);
  }

  &__descr-list {
    @include base-border;

    position: relative;
    isolation: isolate;
    display: grid;
    gap: 0.8rem;
    width: 100%;
    height: 100%;
    padding: var(--gap-def-ver) var(--gap-def-hor);
    background-color: var(--ui-secondary-trans025);
  }

  &__descr-item {
    @include trans-config(opacity);

    grid-row-start: 1;
    grid-column-start: 1;
    font: {
      size: 4.8rem;
      weight: 400;
    }
    line-height: 1;
    opacity: 0;
    pointer-events: none;
    transition-delay: 0.3s;

    &.is-active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__descr {
    display: inline;
  }

  // ===[ MEDIA ]===
  @include media(w1024) {
    &__descr-item {
      font-size: $fs-w1024;
    }
  }

  @include media(w768) {
    position: relative;
    margin-block-start: auto;

    &__descr-item {
      font-size: 2.4rem;
    }
  }

  @include media(w520) {
    &__descr-title {
      font-size: 0;

      &::after {
        content: attr(data-short-name) ': ';
        font-size: 2.4rem;
      }
    }
  }
}
