.ui-title {
  margin: 0;
  padding: 0;

  &--h1 {
    font: {
      size: clamp(4rem, 8.5vw, 16rem);
      weight: 700;
    }
  }

  &--sem-section {
    font: {
      size: clamp(4rem, 8.5vw, 16rem);
      weight: 700;
    }
  }
}
