@use '../system/breakpoints' as *;

.copyright {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  font-size: 1.6rem;
  color: var(--ui-secondary);

  &__text--years {
    min-width: max-content;
  }

  // ===[ MEDIA ]===
  @include media(w768) {
    width: 100%;
  }
}
