@use '../system/mixins' as *;
@use '../system/breakpoints' as *;

.basemodal {
  --trigger-size: 6rem;
  --trigger-outer-gap: 1.2rem;
  --trigger-total-space-y: calc(var(--trigger-size) + var(--trigger-outer-gap) * 2);

  $t-props: z-index, opacity, backdrop-filter;
  @include trans-config($t-props, var(--trans-long));

  position: fixed;
  inset: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding-block-start: var(--trigger-total-space-y);
  background-color: var(--color-def-black-trans025);
  backdrop-filter: blur(0);
  opacity: 0;
  pointer-events: none;

  &.is-active {
    z-index: var(--z-modals);
    backdrop-filter: blur(0.6rem);
    opacity: 1;
    pointer-events: all;
  }

  &.is-active &__close-trigger {
    transform: translateX(0);
  }

  &__close-trigger {
    $t-props: transform, scale, opacity;
    @include trans-config($t-props, var(--trans-long));
    @include square(var(--trigger-size));

    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(calc(100% + var(--trigger-outer-gap)));
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--trigger-size);
    min-height: var(--trigger-size);
    margin: var(--trigger-outer-gap);
    margin-inline-start: auto;
    font-size: 0;
    background-color: var(--color-def-white-trans025);
    border: 2px solid var(--color-def-white);
    border-radius: 50%;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      z-index: 1;
      display: block;
      width: 75%;
      height: 2px;
      background-color: var(--color-def-white);
      border-radius: 0.2rem;
    }

    &::before {
      rotate: 45deg;
    }

    &::after {
      rotate: -45deg;
    }

    &:where(:hover, :focus-visible) {
      scale: 1.06;
    }

    &:active {
      opacity: 0.75;
    }
  }

  &__content {
    flex-grow: 1;
    overflow: hidden;
  }

  // ===[ MEDIA ]===
  @include media(w768) {
    &__close-trigger {
      @include square(3.6rem);
    }
  }
}
