@use '../system/mixins' as *;

.basemodal {
  $t-props: z-index, opacity, backdrop-filter;
  @include trans-config($t-props, var(--trans-long));

  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: var(--color-def-black-trans025);
  backdrop-filter: blur(0);
  opacity: 0;
  pointer-events: none;

  &.is-active {
    z-index: var(--z-modals);
    backdrop-filter: blur(0.6rem);
    opacity: 1;
    pointer-events: all;
  }

  &.is-active &__close-trigger {
    transform: translateX(0);
  }

  &__close-trigger {
    --trigger-outer-gap: 1.2rem;

    $t-props: transform, scale, opacity;
    @include trans-config($t-props, var(--trans-long));
    @include square(6rem);

    position: relative;
    isolation: isolate;
    transform: translateX(calc(100% + var(--trigger-outer-gap)));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--trigger-outer-gap);
    margin-inline-start: auto;
    font-size: 0;
    background-color: var(--color-def-white-trans025);
    border: 2px solid var(--color-def-white);
    border-radius: 50%;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      z-index: 1;
      display: block;
      width: 75%;
      height: 2px;
      background-color: var(--color-def-white);
      border-radius: 0.2rem;
    }

    &::before {
      rotate: 45deg;
    }

    &::after {
      rotate: -45deg;
    }

    &:where(:hover, :focus-visible) {
      scale: 1.06;
    }

    &:active {
      opacity: 0.75;
    }
  }
}
