@use '../system/mixins' as *;
@use '../system/breakpoints' as *;

.skill-indicators {
  --indicator-bd-width: 0.05em;
  --indicator-brd-rad: 0.5em;

  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--indicator-bd-width);
  font: {
    family: var(--font-primary);
    size: 6.4rem;
    weight: 700;
  }
  background-color: var(--color-def-white);
  border: var(--indicator-bd-width) solid var(--color-def-white);
  border-radius: var(--indicator-brd-rad);
  overflow: hidden;

  &__item {
    $t-props: background-color;
    @include trans-config($t-props);

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;

    // [START]: Setup for 'skill-indicators' background
    &:has(> [data-skill='html']) {
      background-color: var(--ui-skill-html);
    }

    &:has(> [data-skill='html']:where(:hover, :focus-visible)) {
      background-color: var(--ui-skill-html-interact);
    }

    &:has(> [data-skill='css']) {
      background-color: var(--ui-skill-css);
    }

    &:has(> [data-skill='css']:where(:hover, :focus-visible)) {
      background-color: var(--ui-skill-css-interact);
    }

    &:has(> [data-skill='js']) {
      background-color: var(--ui-skill-js);
    }

    &:has(> [data-skill='js']:where(:hover, :focus-visible)) {
      background-color: var(--ui-skill-js-interact);
    }

    &:has(> [data-skill='flutter']) {
      background-color: var(--ui-skill-flutter);
    }

    &:has(> [data-skill='flutter']:where(:hover, :focus-visible)) {
      background-color: var(--ui-skill-flutter-interact);
    }
    // [END]: Setup for 'skill-indicators' background
  }

  &__btn {
    $t-props: scale, opacity;
    @include trans-config($t-props);
    @include text-outline(var(--color-def-black));

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.25em 0.5em;
    text-align: center;
    cursor: pointer;

    &:where(:hover, :focus-visible) {
      scale: 1.06;
    }

    &:active {
      opacity: 0.75;
    }
  }

  &__tags-list {
    $tags-list-gap: 1.2rem;

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: $tags-list-gap;
    padding: $tags-list-gap;
  }

  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font: {
      size: 1.8rem;
      weight: 700;
    }
    line-height: 1;
    color: var(--color-def-black);
    padding: 0.6rem 1.2rem;
    background-color: var(--color-def-white-trans050);
    border-radius: 0.25em;
  }

  // ===[ MEDIA ]===
  @include media(w1024) {
    &__btn {
      font-size: 4.8rem;
    }
  }

  @include media(w768) {
    grid-template-columns: 1fr;

    &__btn {
      font-size: 6.4rem;
    }

    &__tags-list {
      display: none;
    }
  }

  @include media(w520) {
    &__item {
      font-size: 4.8rem;
    }

    &__btn {
      font-size: 4.8rem;
    }
  }
}
