@use '../../system/mixins' as *;
@use '../../system/breakpoints' as *;

.site-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 3.2rem;
  margin: 0;
  padding: var(--gap-def-ver) var(--gap-def-hor);
  border-block-start: {
    width: var(--size-border-base);
    style: solid;
    color: var(--ui-secondary);
  }
  container-type: inline-size;

  &__mailme {
    width: 100%;
    max-width: max-content;
  }

  &__nav-menu {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.35em;
    font-size: 2.2rem;
  }

  &__nav-link {
    $l-gap-vertical: 0.8rem;
    $l-gap-horizontal: 1.6rem;
    $l-brd-rad: calc($l-gap-vertical * 4);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: $l-gap-vertical $l-gap-horizontal;
    color: var(--color-def-transparent);
    background-color: var(--ui-secondary);
    border: 0.2rem solid var(--ui-secondary);
    border-radius: $l-brd-rad;
    overflow: hidden;

    &:not([href]) {
      color: var(--ui-secondary);
      background-color: var(--ui-primary);

      &::before,
      &::after {
        content: '';
        display: none;
      }
    }

    &::before,
    &::after {
      $t-props: transform;
      @include trans-config($t-props, var(--transition-base));

      content: attr(data-value);
      position: absolute;
      inset: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-inline: $l-gap-horizontal;
      pointer-events: none;
    }

    &::before {
      transform: translateY(0);
      color: var(--ui-primary);
      background-color: var(--ui-secondary);
    }

    &::after {
      transform: translateY(100%);
      color: var(--ui-secondary);
      background-color: var(--ui-primary);
    }

    &[href]:where(:hover, :focus-visible) {
      &::before {
        transform: translateY(-100%);
      }

      &::after {
        transform: translateY(0);
      }
    }
  }

  &__extra-info {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    gap: 1.8rem;
  }

  &__copyright.copyright {
    width: max-content;
  }

  // ===[ CONTAINER QUERIES ]===
  @container (width < 768px) {
    &__mailme,
    &__nav {
      margin-inline: auto;
    }
  }

  // ===[ MEDIA ]===
  @include media(w768) {
    flex-direction: column;

    &__mailme {
      order: 2;
    }

    &__nav {
      order: 1;
    }

    &__nav,
    &__nav-item {
      width: 100%;
    }

    &__nav-menu {
      flex-direction: column;
      gap: 0.5em;
    }

    &__nav-link {
      justify-content: start;

      &::before,
      &::after {
        justify-content: start;
      }
    }

    &__extra-info {
      order: 3;
      display: flex;
    }
  }
}
